@font-face {
  font-family: 'Black Pink Cursive';
  src: url('fonts/BlackPinkCursive.woff') format('woff2'),
      url('fonts/BlackPinkCursive.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
 
}