body {
  margin: 0 auto;
  width: 80%;
  font-size: 1.5em;
}

h1 {
  font-size: 1.2em;
}

h2 {

}

img {
  padding: 40px 0 0 0;
  max-width: 100%;
}

figure {
    margin: 0;
}

@media screen and (min-width: 600px) {
  body {
    background-color: tomato;
    font-size: 1em;
  }
}