.goomba{
    position: absolute;
    top: 300px;
    z-index: 1;
    width: 10%;
}

.super-mario{
    width: 10%;
    position: absolute;
    z-index: 2;
}

.baloon{
    position: absolute;
    right: 200px;
    width: 150px;
}

.word{

}

.bowser{
    position: absolute;
    right: 0px;/*vai garantir que o bowser fique rente a direita da tela*/
    width: 200px;
}